# =========================
# DATABASE (Turso)
# =========================
DATABASE_URL=libsql://neuralpath-juan-moncayo.aws-us-east-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzQzOTUzNDcsImlkIjoiMDE5ZDIyMzMtYmUwMS03Njc5LTlhOTgtMTNiZDlkODA0NmQ5IiwicmlkIjoiMTdkOTY2NjItNDQ4OS00MjlhLWExMTEtMWEzNDE1OWI5MWIzIn0.KlZYqdMY_l7D6FvgwZsCdrowYNezdVhqm2ru7fAHJtEQczTdKzmzivs9tCzTZ7z8z05m8_gsgnBiBtra9NMXAQ

# =========================
# REDIS (Docker local)
# =========================
REDIS_URL=redis://localhost:6379

# =========================
# APP
# =========================
NODE_ENV=development
PORT=3000

# =========================
# API URLs (microservicios)
# =========================
API_CURSOS_URL=http://localhost:3001
API_MENTOR_URL=http://localhost:3002

# =========================
# OPENAI (IA)
# =========================
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx

# =========================
# ELEVENLABS (TTS)
# =========================
ELEVENLABS_API_KEY=xxxxxxxxxxxxxxxx

# =========================
# WOMPI (pagos)
# =========================
WOMPI_PUBLIC_KEY=pub_test_xxxxx
WOMPI_PRIVATE_KEY=prv_test_xxxxx
WOMPI_EVENTS_SECRET=evt_test_xxxxx

# =========================
# EMAIL (Resend)
# =========================
RESEND_API_KEY=re_xxxxxxxx

# =========================
# AUTH (opcional)
# =========================
JWT_SECRET=supersecretkey