# =========================
# DATABASE (Turso)
# =========================
DATABASE_URL=libsql://tu-base.region.turso.io
DATABASE_AUTH_TOKEN=tu-auth-token-de-turso

# =========================
# REDIS (Docker local)
# =========================
REDIS_URL=redis://localhost:6379

# =========================
# NEXTAUTH v5
# Generar con: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
# =========================
AUTH_SECRET=genera-un-secreto-con-el-comando-de-arriba
AUTH_URL=http://localhost:3002
AUTH_SECRET=/hP4dK2eJtRcjk6Ts/6zCHAhKQrFFWaSiVaW/iwQKYE=


# =========================
# GOOGLE OAUTH
# Obtener en: https://console.cloud.google.com/
# =========================
AUTH_GOOGLE_ID=tu-google-client-id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=tu-google-client-secret

# =========================
# API URLs (microservicios)
# =========================
NEXT_PUBLIC_APP_URL=http://localhost:3002
NEXT_PUBLIC_API_CURSOS_URL=http://localhost:3001
NEXT_PUBLIC_API_MENTOR_URL=http://localhost:3003
API_CURSOS_PORT=3001

# =========================
# OPENAI (MentorAI)
# =========================
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx

# =========================
# ELEVENLABS (TTS)
# =========================
ELEVENLABS_API_KEY=xxxxxxxxxxxxxxxx

# =========================
# WOMPI (pagos COP)
# =========================
WOMPI_PUBLIC_KEY=pub_test_xxxxx
WOMPI_PRIVATE_KEY=prv_test_xxxxx
WOMPI_EVENTS_SECRET=evt_test_xxxxx

# =========================
# EMAIL (Resend)
# =========================
RESEND_API_KEY=re_xxxxxxxx
RESEND_FROM=NeuralPath <no-reply@neuralpath.co>

# =========================
# MUX (videos)
# =========================
MUX_TOKEN_ID=tu-mux-token-id
MUX_TOKEN_SECRET=tu-mux-token-secret
